.header {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    z-index: 20;
    // .header__row

    &__row {
        @include flexbox();
        justify-content: center;
        align-items: center;
        height: 85px;
    }

    // .header__menu

    &__menu {
    }

    // .header__logo

    &__logo {
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 2;
        @include tr(-50%, 0px , 0px);
    }
    @media (max-width: 767px) {
        top: 15px;
        &__row{

        }
        &__menu {
        }
        &__logo {

        }
    }
}
.menu {

    // .menu__icon

    &__icon {
    }

    // .menu__body

    &__body {
    }

    // .menu__list

    &__list {
        @include flexbox();
        li{
            position: relative;
            padding: 0px 37.5px;
            &:nth-child(2){
                 padding: 0px 110px 0px 37.5px;
            }
            &:nth-child(3){
                padding: 0px 37.5px 0px 110px;
            }
            &:after{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                width: 2px;
                height: 2px;
                margin-top: -1.5px;
                background-color: #4d4959;
                border-radius: 50%;
            }
            &:last-child,
            &:nth-child(2){
               &:after{ display: none;}
            }

        }
    }

    // .menu__link

    &__link {
        color: #4d4959;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.6px;
    }

    @media (max-width: 767px) {
        &__body {
            position: fixed;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            background-color: #4d4959;
        }

        &__list {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li{

            }
            
        }

        &__link {
            color: #fff;
        }
        
    }
}
.icon-menu {
}
