// Mixins
@import "mixins.scss";
// Mixins

//Fonts -----------------

//new css2 google url font (trouble with scss compile)
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

//old css google url (working for now)
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap");

//default fonts
$font-family: "Lato", sans-serif;

//Variables

$min-width: 320px;

// Reset , default parametrs
@import "startparams.scss";

body {
    background: transparent;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

//default grid
.container {
    //+30px for padding
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}

//includes header, footer and common-project
@import "header.scss";
@import "footer.scss";

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include flexbox();
    flex-direction: column;
}

.main-screen {
    flex: 1 0 100%;
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.content {
}

.generation {
    background-color: #f7f7f7;
    // .generation__block
    &__block {
        padding: 120px 0;
    }
    @media (max-width: 900px) {
        &__block {
            padding: 80px 0;
        }
    }

    @media (max-width: 600px) {
        &__block {
            padding: 30px 0;
        }
    }
}

.block {
    text-align: center;
    // .block__icon
    &__icon {
        margin: 0 0 33px 0;
    }
    // .block__title
    &__title {
        color: #353738;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin: 0 0 18px 0;
    }
    // .block__text
    &__text {
        color: #848789;
        font-size: 18px;
        line-height: 34px;
        &_j {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;
            &:after{
                content: '';
                display: block;
                margin: 35px auto 0 auto;
                width: 50px;
                height: 1px;
                background-color: #d7d7d7;
            }
        }
    }
    @media (max-width: 1500px) {
        &__text{
            &_j{
                &:after{
                    content: '';
                    margin: 15px auto 0 auto;
                }
            }
        }
    }

    @media (max-width: 1100px) {

    }
}

.brands {
    // .brands__row

    &__row {
        @include flexbox();
    }

    // .brands_rev
    &_rev {
        .brands__column{
            @include flexorder(1);
            &_b {
                @include flexorder(2);
            }
        }
    }
    // .brands_last
    &_last {
    }

    // .brands__column
    &__column {
        // .brands__column_b
            flex: 0 1 33.333%;
        &_b {
            flex: 0 1 66.667%;
        }
    }

    // .brands__item
    &__item {
        display: block;
        position: relative;
        height: 100%;
        @media (max-width: 1100px) {
            height: auto;
            padding: 0 0 70% 0;
        }
    }

    // .brands__content
    &__content {
        padding: 70px 65px 55px 65px;
        position: relative;
        &:after{
            // tail arrow
            content:'';
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
        }
    }

    @media (max-width: 1500px) {
        &__content {
            padding: 40px 35px 30px 35px;
        }
    }

    @media (max-width: 1100px){
        &__row {
            flex-direction: column;
        }
        &_last {
            .brands__column{
                &:nth-child(1){
                    @include flexorder(2);
                }
                &:nth-child(2){
                    @include flexorder(1);
                }
                &:nth-child(3){
                    @include flexorder(3);
                }
            }
        }
    }

    // .brands__image
    &__image {
        padding: 0% 0% 37.51% 0%;
    }
}

.item {
    // .item__logo
    &__logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include flexbox();
        @include anim(0.3s,0s);
        justify-content: center;
        align-items: center;
        background-color: rgba(100, 194, 158, 0.5);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
    }

    // .item__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    &:hover{
        .item__logo{
            visibility: visible;
            opacity: 1;
        }
    }
    
}

.slider {
    text-align: center;
    background-color: #f7f7f7;
    // .slider__body
    &__body {
        padding: 120px 0 60px 0;
    }
    // .slider__item
    &__item {
    }
    // .slider__icon
    &__icon {
        margin: 0 0 35px 0;
    }
    // .slider__title
    &__title {
        margin: 0 0 20px 0;
        color: #353738;
        font-size: 18px;
        font-weight: 700;
        // font-weight: 700;
        // letter-spacing: 1.8px;
        // font-family: "Myriad Pro";
        span{
            color: #848789;
            font-family: "Lato Light";
            font-weight: 300;
            letter-spacing: 1.8px;

        }
    }
    // .slider__text
    &__text {
        color: #848789;
        font-size: 24px;
        line-height: 34px;
    }

    &__buttons{
        @include flexbox();   
    }

    &__btn{
        width: 11px;
        height: 11px;
        border: 1px solid #c8c8c8;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        &.active{
            background-color: #a9afb3;
        }
    }
}
